body{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(/Assets/Jazz\ piano.jpeg);
    background-size: cover;
}

h1{
    font-family: 'UnifrakturMaguntia', cursive;;
    color: white;
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    color: white;
    border-bottom: 3px double white;
    text-shadow: 4px 4px 1px #664F35;
    
}

.chords{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 3rem;
    flex-wrap: wrap;
    color: white;
}

.key{
    font-family: 'Jim Nightshade', cursive;
    font-size: 2.5rem;
    border: 3px double gray;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    height: 7rem;
    padding:10px;
    display:flex;
    justify-content: space;
    margin: 2rem;
    flex: 7;
    background: rgba(0,0,0,0.2);
    transition: all 0.07s;
}

.playing{
    transform: scale(1.1);
    border-color: gold;
    box-shadow: 0 0 10px gold;
}

.key:hover{
    opacity: 0.6;
}